/* Style général */
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  background: linear-gradient(to bottom right, #ffe6f0, #fff0f5);
  color: #8b008b;
}

/* Titre stylisé avec ombre */
h1 {
  text-shadow: 2px 2px 5px #ff69b4;
}

/* Style du canevas */
canvas {
 border: 4px solid #ff69b4;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(255, 105, 180, 0.6);
  border-radius: 15px;
  cursor: grab;
  
}

/* Style des inputs et boutons */
input, button, select {
  margin: 10px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(255, 182, 193, 0.7);
  
}

/* Largeur ajustée pour les champs texte et listes */
input[type="text"], select {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

/* Boutons */
button {
  background-color: #ffb6c1;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #ff69b4;
}

/* Galerie des images générées */
.galerie {
  margin-top: 30px;
}

.galerie img {
  width: 100px;
  margin: 5px;
  border: 3px solid #db7093;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  justify-content: flex-start;
}

/* Contrôles de texte regroupés */
.text-controls {
  display: flex;
  justify-content: flex-start; /* tous à gauche */
  align-items: center; /* alignement vertical */
  gap: 10px; 
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left : 20px;
  margin : 5px; 
  width: 100%; /* ou ta largeur */
}


.container1 {
  display: flex;
  justify-content: flex-start; /* tous à gauche */
  align-items: center; /* alignement vertical */
  gap: 10px; 
}


  #TelechargerImage {
    display: none; /* On cache le bouton natif */
  }

  .custom-file-upload {
    cursor: pointer;
    display: inline-block;
  }

  .custom-file-upload img {
    width: 150px; /* adapte selon la taille souhaitée */
    height: auto;
  }
